* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Loto", sans-serif;
    }

.container {
    display: grid;
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
    
}

.header {
    display: grid;
    /*border: 1px solid rgb(160, 15, 160);*/
    
    }

.top_line {
    display: grid;
    grid-template-columns: 20% repeat(6, 1fr) 6%;
   /* border: 1px solid rgb(150, 35, 173);*/
    align-items: center;
}
.banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}
.title {
    display: grid;
   /* border: 1px solid rgb(240, 211, 51); */
    align-content: center;
    align-items: center;
    justify-items: center;
    
}
.main {
    display: grid;
    
}
.about {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-top: 50px;
}

.images {
    display: grid;
    grid-template-columns: 1fr;
    align-items: flex-start;
    }

.offers {
    display: grid;
    
}

.offer_container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    }

.footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgb(78, 101, 129);
    align-items: end;
    color: azure;
    padding: 60px;
    font-size: smaller;
        
}
.time {
    display: grid;
    grid-column: 3 / 4;
    padding-top: 20px;
}
.contacts {
    grid-column: 4 / 5;
    padding-top: 20px;

}

